/* You can add global styles to this file, and also import other style files */
header{
    background-color: #d61818;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}

a:hover{
    text-decoration: none!important;
}

a h5 {
    color:#555;
    text-decoration: none;
}

a:hover h5{
    color:#222;
    text-decoration: none;
}