<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mb-4">
                <h1 class="h3">Aqui você acompanha os destaques dos maiores meios de comunição do Brasil e do mundo</h1>
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <a routerLink="/globo">
                    <div class="card">
                        <img src="assets/img/g1.png" class="card-img-top" alt="Notícias Globo">
                        <div class="card-body">
                          <h5 class="card-title">Globo</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <a routerLink="/info-money">
                    <div class="card">
                        <img src="assets/img/infomoney.png" class="card-img-top" alt="Notícias Infomoney">
                        <div class="card-body">
                          <h5 class="card-title">InfoMoney</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <a routerLink="/blasting-news-br">
                    <div class="card">
                        <img src="assets/img/blasting.png" class="card-img-top" alt="Notícias Blasting News">
                        <div class="card-body">
                          <h5 class="card-title">Blasting News</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <a routerLink="/bbc-news">
                    <div class="card">
                        <img src="assets/img/bbc.png" class="card-img-top" alt="Notícias BBC News">
                        <div class="card-body">
                          <h5 class="card-title">BBC News</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
