<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h3">Aqui você acompanha os destaques dos maiores meios de comunição do Brasil e do mundo</h1>
            </div>
            <div class="col-md-3">
                <a  routerLink="/globo">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Globo</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a  routerLink="/globo">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">InfoMoney</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a  routerLink="/globo">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Blasting News</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a  routerLink="/globo">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BBC News</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
